/* buscar.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333333;
}

.radio-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.radio-buttons label {
    margin: 0 10px;
}

.search-field {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-field label {
    margin-right: 10px;
}

.search-field input {
    padding: 5px;
    margin-right: 10px;
}

.search-field button {
    padding: 5px 10px;
    margin-right: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-field button#voltar {
    background-color: #f44336;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

