<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Biblioteca.css">
    <title>Biblioteca</title>
</head>
<body>
    <div class="sidebar">
        <h1>Biblioteca</h1> <!-- Título acima dos botões -->
        <button onclick="location.href='CadastroCliente'">Cadastrar Cliente</button>
        <button onclick="location.href='CadastroLivros'">Cadastrar Livro</button>
        <button onclick="location.href='Emprestimo'">Empréstimo</button>
        <button onclick="location.href='buscar_cliente_livro'">Buscar Cliente Livros</button>
        <button onclick="location.href='configuracoes'">Configurações</button>
        <button onclick="location.href='Login'">Sair</button>
        <p>28/02/2025</p>
        <p>21:52:10</p> <!--Para tentar colocar data e hora-->
    </div>
    <div class="main-content">
        <img src="/img/4kbiblioteca.jpeg" alt="Biblioteca">


    </div>
</body>
</html>
